<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolce-Freddo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="">
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
        <div id="menu" class="menu">
            <button id="cerrar" class="cerrar-menu"><i class="bi bi-x-lg"></i></button>
            <a href=""><i class="bi bi-house-door-fill"></i>Inicio</a>
            <a href=""><i class="bi bi-cart-fill"></i>Carrito</a>
            <a href=""><i class="bi bi-heart-fill"></i>Nosotros</a>
            <a href="{% url 'login' %}"><i class="bi bi-person-circle"></i>Usuario</a>
        </div>
    </header>
    <main id="contenido">
    {% block Quitar %}
    <h2>¡Bienvenido, {{ user.username }}!</h2>
    {% endblock %}
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>