{% extends 'index.html' %}
{% load static %}
{% block Quitar %}
<div class="contenedor-formularios">
    <div class="formulario-login">
        <form method="post">
            <h2>Iniciar Sesión</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>
    <div class="formulario-registro">
        <form method="post">
            <h2>Registro de Usuario</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Registrarse</button>
        </form>
    </div>
    <div class="contenedor-alterno">
        <div class="panel izquierdo">
            <h2>¿No tenes cuenta?</h2>
            <p>Registrate para acceder</p>
            <button class="btn-registro">Registrar</button>
        </div>
        <div class="panel derecho">
            <h2>¿Ya tenes cuenta?</h2>
            <p>Inicia Sesión para acceder</p>
            <button class="btn-login">Entrar</button>
        </div>
    </div>
</div>
{% endblock %}